<script>
import axios from 'axios';

export default {
  data() {
    return {
      text: '',
      checked: false,
      selected: null,
      errorMessage: '',
      options: [
        {
          value: 0,
          text: 'Option Zero',
        },
        {
          value: 1,
          text: 'Option One',
        },
        {
          value: 2,
          text: 'Option Two',
        },
        {
          value: 3,
          text: 'Option Three',
        },
      ],
    };
  },
  watch: {
    text() {
      this.onChange();
    },
  },
  methods: {
    async formSubmit() {
      await axios
        .post('https://battery.zbrsk.ru/api/', {
          text: this.text,
          checked: this.checked,
          selected: this.selected,
        })
        .then((response) => {
          console.log(response);
        })
        .catch((error) => {
          this.errorMessage = error.message;
        });
    },
    onChange() {
      this.errorMessage = '';
    },
  },
};
</script>

<template>
  <div class="container">
    <transition name="fade">
      <p v-if="errorMessage" class="message">Упс, что-то пошло не так. Попробуйте позже</p>
    </transition>
    <form class="form" @submit.prevent="formSubmit" @change="onChange()">
      <input v-model="text" placeholder="Text..." class="input form__item" type="text" />
      <select v-model="selected" class="select form__item">
        <option v-for="option of options" :key="option.value" :value="option.value">
          {{ option.text }}
        </option>
      </select>
      <label for="checkbox" class="form__item">
        <input id="checkbox" v-model="checked" :checked="checked" class="checkbox" type="checkbox" />
        Click
      </label>
      <button class="form__button">Отправить</button>
    </form>
  </div>
</template>

<style lang="scss">
.container {
  margin: 20px auto 0;
  max-width: 300px;
  padding: 0 15px;
  position: relative;
}
.message {
  text-align: center;
}
.form {
  position: absolute;
  top: 80px;
  width: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__item {
    margin-bottom: 5px;
  }
  &__button {
    display: block;
    margin-top: 10px;
  }
}
.fade-enter-active {
  transition: transform 0.4s ease-out, opacity 0.1s;
}
.fade-leave-active {
  transition: opacity 0.15s;
}
.fade-enter {
  opacity: 0;
}
.fade-leave-to {
  opacity: 0;
}
</style>
